/* =========================================== */
/* surveilances                                */
/* =========================================== */

.surveillances {
    padding:$padding 0 0;
    h1 {
        text-transform:uppercase;
    }
}

.latest-surveillances {
    @include genericTable;
    width:100%;

    .surveillances__total {
        background:adjust_hue(saturate(lighten($base-color, 26), 24), 5);
        border-top:1px solid saturate(lighten($base-color, 42), 20);
        border-bottom:1px solid saturate(darken($base-color, 10), 10);
        color:darken($base-color, 25);
        font-weight:bold;
    }

    li {
        padding-top:$padding / 8;
        padding-bottom:$padding / 8;
    }
}